@import "../../../styles/colors.scss";

.a-button {
    padding:20px;
    border-radius: 99px;
    font-weight: 800;
    color: white;
    text-decoration: none;
    margin: 0 auto;
}

.a-button-apotify {
    background-color: #1db954;

    &:hover {
        box-shadow: inset 0 0 20px rgba(36, 255, 127, 0.5), 0 0 20px rgba(6, 255, 102, 0.4);
        outline-color: rgba(86, 255, 80, 0);
        outline-offset: 80px;
        text-shadow: 1px 1px 6px #fff;
    }
}